<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.BussinessDao">
    
    <update id="decrease">
        UPDATE adv_business
        SET freeze_count = freeze_count - #{clickToken}
        WHERE id = #{businessId}
    </update>
    

</mapper>