<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.UserDao">

    <select id="getUser" resultType="com.web.bean.VO.UserVO">
        SELECT us.id,us.username, us.password, us.sex, us.phone, us.email, us.sts, us.tag, us.addTime, us.account, us.realName ,
         wa.balance, wa.address
        FROM adv_user us, adv_wallet wa
        WHERE us.id = wa.user_id
        AND us.id = #{id}
    </select>

    <select id="selectByUserAccountAndPassword" resultType="com.web.bean.DO.AdvAdvert">
        SELECT id, username, password, sex, phone, email, sts, tag, addTime, account, realName
        FROM adv_user
        WHERE
        username = #{username} AND
        password = #{password}
    </select>

</mapper>